<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project2309"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.TagFeedActivity"
            android:exported="false" />
        <activity
            android:name=".ui.EditPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.DeleteAccoutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.FeedActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LikeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.VideoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ImageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.DialogSendActivity"
            android:exported="false"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".ui.FollowListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.RoomActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ChattingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.UpdateCommentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.UpdatePostActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CommentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CreatePostActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MyPageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.JoinTermActivity"
            android:exported="false" />
        <activity
            android:name=".ui.FindPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.JoinBeginMainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.JoinEmailAuthActivity"
            android:exported="false" />
        <activity
            android:name=".ui.JoinAgreeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LogoActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".network.BackgroundSocketService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".network.BootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>